<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Game layout</title>
  <link rel="stylesheet" href="/Users/akira/Desktop/Pilot-Experiments/RiskyLossMain-main/pilot1/code/experiment/configurations/customLoss.css">

  <script>
  </script>


</head>
    
<body>
  <div class = "game-interface">

    <div id = "loc2" class = "info-box info-box-gambleA">
      <p id = "loc2-front">€</p>
      <div id = "loc2-back" class = "amount_bar" style="background: linear-gradient(to top, #B81D13 , #B81D13 80%, #BFC9CA 20%)"></div>
    </div>

    <div id = "loc1" class = "info-box info-box-probA">
      <p id = "loc1-front">%</p>
      <div id = "loc1-back" class = "pie-chart" style="background: conic-gradient(white 0% 45%, red 45% 100%);"></div>
    </div>

    
    <div id = "loc3" class = "info-box info-box-gambleB">
      <p id = "loc3-front">€</p>
      <div id = "loc3-back" class = "amount_bar" style="background: linear-gradient(to top, #B81D13 , #B81D13 20%, #BFC9CA 20%)"></div>
    </div>

    <div id = "loc4" class = "info-box info-box-probB">
      <p id = "loc4-front">%</p>
      <div id = "loc4-back" class = "pie-chart" style= "background: conic-gradient(white 0% 75%, red 75% 100%);"></div>
    </div> --> 


  <!-- Choice Buttons -->
    <div id = "choice-button-left"></div> <!-- Gamble A -->
    <div id = "choice-button-right"></div> <!-- Gamble A -->

  </div>


</body>

</html>

